<div class="d-flex justify-content-center bg">
<div class="card text-center inside-card border-0 " style="width: 700px">
<div class ="card-body">
<h2 class="card-title" >Edit <%= resource_name.to_s.humanize %></h2>

<div class="card-text lh-base">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field fs-5 fw-semibold">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"w-50 p-1" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field fs-5 fw-semibold">
    <%= f.label :password%> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", :class=>"p-1" %>
    <% if @minimum_password_length %>
      <br />
      <span ><em><%= @minimum_password_length %> characters minimum</em></span>
    <% end %>
  </div>

  <div class="field fs-5 fw-semibold">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"p-1"  %>
  </div>

  <div class="field fs-5 fw-semibold">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" , :class=>"p-1" %>
  </div>
   <br>
  <div class="actions">
    <%= f.submit "Update", :class=>"btn btn-success btn-lg" %>
  </div>
<% end %>

<p><%= button_to "Cancel  my  account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  :class=>"btn btn-danger btn-lg" %></p>

<%= link_to "Back", :back ,:class=>"btn btn-outline-light" %>
</div>
</div>
</div>
</div>