<%= form_with(model: visitor) do |form| %>
  <% if visitor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
        <% visitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">

<div class = "row">
  <div class="col-3 edit-visitor">
    <div>
      <%= form.label :name, style: "display: block",:class=>"fw-bold fs-5" %>
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="col-3 edit-visitor">
    <div>
      <%= form.label :relation, style: "display: block" ,:class=>"fw-bold fs-5"%>
      <%= form.text_field :relation %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3 edit-visitor">
    <div>
      <%= form.label :classification, style: "display: block" ,:class=>"fw-bold fs-5"%>
      <%= form.select :classification, ['guest','stranger'],{prompt:'Select'},{class: "form-control"}%>
    </div>
  </div>
  <div class="col-3 edit-visitor">
    <div>
      <%= form.label :no_of_visit, style: "display: block",:class=>"fw-bold fs-5" %>
      <%= form.number_field :no_of_visit %>
    </div>
  </div>
</div>
<div class="row">
  <div class ="col-3 edit-visitor">
    <div>
      <%= form.label :last_visited, style: "display: block" ,:class=>"fw-bold fs-5"%>
      <%= form.datetime_field :last_visited %>
    </div>
  </div>
  <div class="col-3 edit-visitor">
    <div>
      <%= form.label :notes, style: "display: block" ,:class=>"fw-bold fs-5"%>
      <%= form.text_area :notes %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3 edit-visitor">
    <div>
      <%= form.submit %>
    </div>
  </div>
  <div class="col-4 edit-visitor">
    <%= link_to "Show this visitor", @visitor,:class=>"btn btn-outline-light"  %> |
    <%= link_to "Back to visitors", visitors_path,:class=>"btn btn-outline-light"  %>
  </div>
</div>
</div>

<% end %>
