<div class="container-fluid">
<div id="<%= dom_id visitor %>" class="image_show">
  <div class="row">
    <div class="col-sm-6 fs-4 lh-lg font-monospace">
      <p>
        <strong>Name:</strong>
        <span class="text-light"><%= visitor.name %></span>
      </p>

      <p>
        <strong>Relation:</strong>
        <span class="text-light"><%= visitor.relation %></span>
      </p>

      <p>
        <strong>Classification:</strong>
        <span class="text-light"><%= visitor.classification %></span>
      </p>

      <p>
        <strong>No of visit:</strong>
        <span class="text-light"><%= visitor.no_of_visit %></span>
      </p>

      <p>
        <strong>Last visited:</strong>
        <span class="text-light"><%= visitor.last_visited %></span>
      </p>
    </div>
    <div class="col-sm-6">
      <div class="image_show">
        <p>
          <%= image_tag "data:image/jpeg;base64,#{visitor.image_string}", height: '496', width: '390' %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-4 fs-5 font-monospace">
      <p>
        <strong>Notes:</strong>
        <span class="text-light"><%= visitor.notes %></span>
      </p>
   </div>
   <div class="col-sm-3">
   </div>
   <div class="col-sm-4">
      <%= link_to "Edit this visitor", edit_visitor_path(@visitor), :class=>"btn btn-outline-light" %> |
      <%= link_to "Visitors", visitors_path, :class=>"btn btn-outline-light" %>
 
      <%#= button_to "Destroy this visitor", @visitor, method: :delete %>
   </div>
</div>
</div>
