<p style="color: green"><%= notice %></p>
<h3 class = "h3"> Dashboard </h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class='card guest'>
        <div class="card-body" style="height: 334px; padding-top: 25%;">
          <h3 class="text-center">GUEST</h3>
          <h4 class="text-center">
            <%=@visitors.count{|visitor| visitor.classification=="guest"}%>    
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class='card stranger'>
        <div class="card-body" style="height: 334px; padding-top: 25%;">
          <h3 class="text-center">STRANGERS</h3>
          <h4 class="text-center"><%=@visitors.count{|visitor| visitor.classification == "stranger"}%></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <%= pie_chart @visitors.group(:classification).count,donut: true, colors: ["#001a1a","#008A8A"]%>
        </div>
       </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <%= render 'table', records: @today_visitors, table_name: 'Today Visitors'%>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <%= column_chart @today_visitors.group(:classification).count,donut: true, colors: ["#001a1a","#008A8A"] %>
        </div>
       </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <%= render 'table', records: @weekly_visitors, table_name: 'Visitors Within 7 days'%>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <%= column_chart @weekly_visitors.group(:classification).count,donut: true, colors: ["#001a1a","#008A8A"] %>
        </div>
       </div>
    </div>
  </div>

</div>
<script type="text/javascript">
  function fetchdata(){
    $.ajax({
      url: '/check_visitor',
      type: 'get',
      success: function(response){
        window.location.reload();
      }
    });
  }

  $(document).ready(function(){
    setInterval(fetchdata, 10000);
  });
</script>