<div id="<%= dom_id visitor_table %>">
  <p>
    <strong>Name:</strong>
    <%= visitor_table.name %>
  </p>

  <p>
    <strong>Relation:</strong>
    <%= visitor_table.relation %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= visitor_table.classification %>
  </p>

  <p>
    <strong>No of visits:</strong>
    <%= visitor_table.no_of_visits %>
  </p>

  <p>
    <strong>Last visited:</strong>
    <%= visitor_table.last_visited %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= visitor_table.notes %>
  </p>

</div>
