<% if user_signed_in?%>
<p style="color: green"><%= notice %></p>
<!---DASHBOARD DESIGN -->
<h3 class = "h3"> Dashboard </h3>
<!-- Guest and Stranger -->

<div class="row">
<!-------------card1 for Guest ------------>
  <div class="col-sm-3">

    <div id ="g1"  class ="card text-center" class="card">

      <div class="card-body">
        <h5 class="card-title">GUEST</h5>
        <p class="card-text">
         <%=@visitor_tables.count{|visitor| visitor.classification=="guest"}%>
        </p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>

    </div>

  </div>
  <!-----------Card 2 for Stranger---------------->

  <div class="col-sm-3">

    <div id = "g2"class = "card text-center" class="card">

      <div class="card-body">
        <h5 class="card-title">STRANGERS</h5>
        <p class="card-text">
        <%=@visitor_tables.count{|visitor| visitor.classification == "stranger"}%>
        </p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>

    </div>

  </div>

  <!-----------card 3 ------->

   <div class="col-sm-6" class="chart">
         <%= pie_chart @visitor_tables.group(:classification).count,donut: true, colors: ["#ff9999","#009999"]%>
   </div>
</div>


<br>
<br>

<div class="row">

   <div class="col-sm-6">
     <div class="card">
      <div class ="card-body">
          <h4 class="h4">Daily visit</h4>
            <table class="table table-bordered border-dark">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Image</th>
                  <th scope="col">Date and Time</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>10/05/2022 10:00am</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>10/05/2022 10:00am</td>
                  </tr>
                  <tr>
                    <td>Larry </td>
                    <td>@twitter</td>
                    <td>10/05/2022 10:00am</td>
                  </tr>
              </tbody>
            </table>
        </div>
     </div>
  </div>
<br>
<div class="col-sm-6">
  <div class="card">
    <div class ="card-body">
      <h4 class="h4">Stranger to Guest</h4>
      <table class="table table-bordered border-dark">
         <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <td>Larry </td>
              <td>@twitter</td>
            </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
<% else %>
    <div>
        <%= link_to 'Register Now',  new_user_registration_path, :class => "btn btn-primary" %>  <%= link_to 'Login',  new_user_session_path, :class => "btn btn-primary" %>
    </div>
<% end %>
<!--<div class="row">
  <div class="col-xs-6">
    <%= pie_chart @visitor_tables.group(:classification).count %>
  </div>
</div>
<h1>Visitor tables</h1>

<div id="visitor_tables">
  <% @visitor_tables.each do |visitor_table| %>
    <%= render visitor_table %>
    <p>
      <%= link_to "Show this visitor table", visitor_table %>
    </p>
  <% end %>
</div>

<%= link_to "New visitor table", new_visitor_table_path %>--->
