<p style="color: green"><%= notice %></p>

<%= render @visitor_table %>

<div>
  <%= link_to "Edit this visitor table", edit_visitor_table_path(@visitor_table) %> |
  <%= link_to "Back to visitor tables", visitor_tables_path %>

  <%= button_to "Destroy this visitor table", @visitor_table, method: :delete %>
</div>
