<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.png", height:"99" ,width:"99" %>
    </a>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          Logged in as <strong><%= current_user.email %></strong>.
        </li>
        <li class="nav-item">
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </li>
      <% else %>
        <li class="nav-item">
          <div>
             <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

